body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') My Application Name
      ul.nav.navbar-nav
        li
          a(href='#') Some link
  .container
    main(data-hook="page-container")
